
//  Page Colours
$page-base-colour: #FFF;
$page-secondary-colour: #999CAD;

//  Application Colours
$app-base-colour: #46529D;
$app-secondary-colour: #2EBAEE;

$app-text-colour: #fff;
$app-text-secondary-colour: #999CAD;

$list-base-colour: #FFF;
$list-secondary-colour: #e0e0e0;

$form-validation-invalid: #db0000;
$form-validation-valid: $app-secondary-colour;
