@import "colours";
@import "helpers";
@import "../../node_modules/react-datepicker/dist/react-datepicker.css";

body{
  margin: 0px;
  background: $app-base-colour;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#WorkoutApp{
  width: 100%;
  max-width: 769px;
  margin: 0 auto;
}
  //  Log List Component styles
  #log-list{
    padding: 15px 30px;
    margin: 0 auto;
    list-style-type: none;
    background-color: $list-base-colour;
    .log-item{
      padding: 10px;
      border-bottom: 1px solid $list-secondary-colour;
      transition: all 0.3s;
      >.log-item-left{
        @extend %side-by-side-div;
        img {
          width: 64px;
          height: 64px;
          padding: 10px;
        }
      }
      >.log-item-content{
        @extend %side-by-side-div;
        width: 100%; // Forces the content div to occupy all the space not occupied by other divs.
        .log-item-header{
          margin-top: 0px;
          margin-bottom: 5px;
          text-transform: uppercase;
        }
      }
      >.log-item-right{
        @extend %side-by-side-div;
      }
    }
  }
  //  Form styles
  input[type=text], input[type=password], input[type=email], 
  input[type=url], input[type=time], input[type=date], 
  input[type=datetime], input[type=datetime-local], input[type=tel],
   input[type=number], input[type=search], textarea, select{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $list-secondary-colour;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    &:focus{
      border-bottom: 1px solid $app-secondary-colour;
      box-shadow: 0 1px 0 0 $app-secondary-colour;
    }
  }
  button{
    border: none;
    border-radius: 2px;
    display: inline-block;
    outline: 0;
    padding: 0.5em 2em;
    text-transform: uppercase;
    vertical-align: middle;
    transition: all 0.3s;
    color: $app-text-colour;
    background: $app-secondary-colour;
    margin: 5px;
    &:hover,&:active{
      background: darken($app-secondary-colour,10%); 
    }
    &.secondary{
      background: $page-secondary-colour;    
    }
  }
  .top-area{
    padding: 15px 30px;
    background-color: $list-secondary-colour;
    margin: 0 auto;
    border-bottom: 1px solid $list-secondary-colour;
    #new-log-area{
      @extend %side-by-side-div;
    }
    #logged-time{
      @extend %side-by-side-div;
      font-size: 1.2em;
      width: 100%;
      font-weight: light;
      text-align: center;
      text-transform: uppercase;
    } 
  }
  .new-log-modal{
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
      @media (max-width: 767px){
        top: 10px;
        left: 0px;
        bottom: 10px;
        padding: 25px;
      }
      @media (min-width: 768px){
        width: 600px;
        margin: 30px auto;
      }
      #new-log-form{
        padding: 15px;
        .action-buttons{
          padding: 15px;
          text-align: center; 
        }
      }
      h3{
        padding: 15px;
        margin: 0px;
        border-bottom: 1px solid $list-secondary-colour;
      }
      .error-area{
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        background: pink;
      }
   }
  
  .new-log-modal-overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
  }